/*
.menuitem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}
*/

.sidebaritem:hover{
    -fx-text-fill:white;
    -fx-border-color: WHITE;
    -fx-background-color: #1175A8;
    -fx-border-width: 0px 0px 0px 3px;
}

.sidebaritem2:hover{
    -fx-text-fill:black;
    -fx-border-color: BLACK;
    -fx-background-color: #CEDCDA;
    -fx-border-width: 0px 0px 0px 6px;
}

.linear-grad-to-top-left{
   -fx-background-color: linear-gradient(to top left, #008060 ,   #00807C);
}